<table class="table table-striped">
	<thead>
		<tr>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Когда ждать</th>
			<th>Парикмхер</th>
			<th>Цвет Волос</th>
		</tr>
	</thead>
	<tbody>
	 	<tr><% @results.each do |row| %>
			<td><%= row['username'] %></td>
			<td><%= row['phone'] %></td>
			<td><%= row['datestamp'] %></td>
			<td><%= row['barber'] %></td>
			<td style="background-color: <%= row['color'] %>"><%= row['color'] %></td>
		</tr><% end %>
	</tbody>
</table>	