<h2>Записаться</h2>
<p>На этой странице вы сможете записаться к нам в Barber Shop</p>


<script type="text/javascript">
$(function() {

  // тут я могу написать любой javascript код, который исполнится
  // после загрузки страницы

  $('#color').simplecolorpicker();
  $('#datetimepicker').datetimepicker();
  
});


</script>


<form action="/visit" method="POST" role="form">

  <div class="form-group">
    <label>Ваше имя</label>
    <input name="username" type="text" class="form-control" placeholder="Ваше имя" value="<%= @username %>">
  </div>

  <div class="form-group">
    <label>Ваш телефон</label>
    <input name="phone" type="text" class="form-control" placeholder="Ваш телефон" value="<%= @phone %>">
  </div>

  <div  class="form-group">
    <label>Когда вас ждать?</label>
    <input id="datetimepicker" name="datetime" type="text" class="form-control" placeholder="Введите дату и время" value="<%= @datetime %>">
  </div>


  <div class="form-group">
    <label>Ваш парикмахер:</label>
    <select id="barber" name="barber" class="form-control">
      <option></option>
      <% @barbers.each do |row| %><option <%= @barber == row['name'] ? 'selected' : '' %>><%= row['name'] %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>В какие цвета хотите себя окрасить: </label>

    <select id="color" name="color">
      <option value=""></option>
      <option value="#000000" <%= @color == '#000000' ? 'selected' : '' %>>Black</option>
      <option value="#8b4513" <%= @color == '#8b4513' ? 'selected' : '' %>>SaddleBrown</option>
      <option value="#ffa500" <%= @color == '#ffa500' ? 'selected' : '' %>>Orange</option>
      <option value="#008000" <%= @color == '#008000' ? 'selected' : '' %>>Green</option>
      <option value="#00008B" <%= @color == '#00008B' ? 'selected' : '' %>>Dark blue</option>
      <option value="#0000ff" <%= @color == '#0000ff' ? 'selected' : '' %>>Blue</option>
      <option value="#40e0d0" <%= @color == '#40e0d0' ? 'selected' : '' %>>Turquoise</option>
      <option value="#90ee90" <%= @color == '#90ee90' ? 'selected' : '' %>>Light green</option>
      <option value="#006400" <%= @color == '#006400' ? 'selected' : '' %>>Dark green</option>
      <option value="#ffff00" <%= @color == '#ffff00' ? 'selected' : '' %>>Yellow</option>
      <option value="#ff0000" <%= @color == '#ff0000' ? 'selected' : '' %>>Red</option>
      <option value="#8b0000" <%= @color == '#8b0000' ? 'selected' : '' %>>Dark red</option>
      <option value="#800080" <%= @color == '#800080' ? 'selected' : '' %>>Purple</option>
      <option value="#e1e1e1" <%= @color == '#e1e1e1' ? 'selected' : '' %>>Gray</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>

</form>
